# Ignore hidden files
.clang-uml

battleship
seabattle
test_input.txt
valgrind-out.txt
compile_commands.json
*.odt
*.docx
*.pdf
*.bak
*cache*

!.gitignore

bin
debug
archive

Makefile

# Ignore build directories
build/

# Ignore CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CMakeLists.txt.user
CMakeLists.txt.user.lock
*.cmake
_*
Makefile

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore C++ build files
*.o
*.out

